html{
    font-size: 62,5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /*1rem 10px*/

}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.8rem;
}

h1,
h2,
h3{
    text-align: center;
}

/*Enlaces sin decoracion*/
a{
    color: inherit;
    /*Mantiene el color del texto circundante*/
    text-decoration: none;
    /*Elimina el subrayado*/
    transition: color 0.3s ease;
    /*Añade una transicion suave para los cambios de color*/
}

a:hover{
    color: #007bff;
    /*Cambia el color al pasar el mouse por encima*/
}

/*Estilos para listas sin punto*/
ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

img{
    width: 100%;
    object-fit: cover;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.bg-blue{
    background-color: #007bff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-color: azure;
}

header .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Logo{
    display: flex;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
}

main .projects{
    width: 33%;
    background-color: blue;
    padding: 1rem;
}
main .prokects li {
    width: 100%;
    padding: 1rem;
}

main .work{
    width: 33%;

    background-color: red;
    padding-left: 0.5rem;
}

main .education{
    width: 33%;

    background-color: green;
    padding-left: 1rem;
}

main .reviews-1{
    width: 33%;
    padding: 1rem;
    background-color: grey;
}

main .reviews-2{
    width: 33%;
    padding: 1rem;
    background-color: grey;
}

main .reviews-3{
    width: 33%;
    padding: 1rem;
    background-color: grey;
}

.reviews-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.reviews-container h2 {
    text-align: center;
    font-size: 3.2rem;
}

.review-item {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reviews-container .reviews {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}


main{
    display: flex;
    gap: 1rem;

}